/* math and numbers */
$br10: 10px;
$br20: 20px;
$brc: 50%;
$transition: 0.3s;
$transition2x: 0.6s;
$transition3x: 0.9s;
$transition4x: 1.2s;
/* math and numbers */

/* colors */
$c_white: #ffffff;
$c_black: #181818;
$c_indigo: #2c3e50;
$c_green: #00bd7e;
$c_green_dark: #0b3b2b;
$c_green_soft: #77d5b6;
$c_error: #8b1010;
$c_error_soft: #bf3f3f;
$c_warn: #c9c922;
$c_warn_soft: #d3d38c;
/* colors */
